.Container{
    width: 100%;
    min-height: 100px;
    padding: 20px;
    margin-top: 50px;
    border: 1px solid #ddd;
}
.Bio{
    margin-bottom: 30px;
}
.Bio h3{
    font-size: 24px;
    font-weight: 400;
}
.bio p{

    font-size: 17px;
    color: black;
    margin-top: 5px;
}
.Skills{
    margin-bottom: 30px;
}
.Skills h3{
    font-size: 20px;
}
.Skills ul{
    list-style-type: none;
}
.Skills ul li{
    display: inline-block;
    padding: 5px 15px;
    margin-right: 20px;
    background: #ddd;
    border-radius: 5px;
}
.Links{
    margin-bottom: 30px;
}
.Links h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;

}
.Links ul{
    list-style-type: none;
}
.Links ul li{
    display: inline-block;
    padding: 5px 15px;
    margin-right: 20px;
}
.Links ul li a{
    color: blue;
    font-weight: bold;
    text-decoration: none;
}
.Links ul li a:hover{
    color: coral;
}